# Node
node_modules/
npm-debug.log*
yarn-error.log*
.env
.env.*
!.env.example

# Vercel
.vercel/

# Java
*.class
out/
target/
build/
*.jar

# IDEs / editors
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
